@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #045890;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 800px;
}

li {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    color: #045890;
}

form {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-weight: 600;
}

form input[type="text"],
form input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    /* Adjust for padding and border */
}

form input[type="submit"] {
    background-color: #045890;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: #023e5a;
}

p {
    color: #333;
}